/* COLORS */
$blue: #00aeef;
$light-gray: #F0F0F0;
$dark-gray: #DEDFE0;
$orange: #FF9900;
$red: #FF0000;

/* FONTS */
$heading-font: 'Bungee', sans-serif;
$body-font: 'Lato', sans-serif;

/* LAYOUT */
$barsHeight: 80px;